<%= form_for @question do |f| %>
<div class='row'>
  <div class='question-tile-title text-center'>
    <h2>Would You Rather</h2>
  </div>
  <br>
  <div class='col-md-4 col-md-offset-1'>
    <div class='form-group'>
      <%= f.label 'Catastrophe One' %>
      <%= f.text_field :option_one, class: 'form-control' %>
      <br>
      <%= f.file_field :image_one, class: 'form-control' %>

    </div>

  </div>
  <div class='col-md-2'>
    <div class='text-center'>
      <h4><span class='glyphicon glyphicon-menu-left'></span> OR
        <span class='glyphicon glyphicon-menu-right'></span></h4>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='form-group'>
      <%= f.label 'Disaster Two' %>
      <%= f.text_field :option_two, class: 'form-control'  %>
      <br>
      <%= f.file_field :image_two, class: 'form-control'  %>

    </div>

  </div>

</div>
<div class='text-center'>
  <%= f.submit "Questsch it!", class: 'btn btn-primary btn-sm' %>
</div>

<% end %>
