<!DOCTYPE html>
<html>
<head>
  <title>WouldYouRather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= image_tag 'trimet.png' %></a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="#">Categories</a></li>
        </ul>
        <span class="center-navbar">Trimet Troubles</span>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Pose A Questsh', new_question_path %></li>

        </ul>
      </div>
    </div>
  </nav>

<div class='container'>
  <%= flash[:notice]%>
  <%= flash[:alert]%>
  <%= yield %>

</div>

</body>
</html>
