<!DOCTYPE html>
<html>
<head>
  <title>WouldYouRather</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to (image_tag 'trimet.png'), root_path, class: 'navbar-brand' %>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="#">Categories</a></li>
        </ul>
        <div class="center-navbar">Trimet Troubles</div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Pose A Questsh', new_question_path %></li>

        </ul>
      </div>
    </div>
  </nav>

<div class='container body-wrapper'>
  <%= flash[:notice]%>
  <%= flash[:alert]%>
  <%= yield %>

</div>

</body>
</html>
